<body>

<th:block th:fragment="footerLayout">
    <footer>
        <div class="footer-content" style="text-align: center; padding: 20px">
            <p>&copy; 2024 Chung-Ang University Fencing Club. All rights reserved.</p>
            <ul style="list-style: none; padding: 0;">
                <li style="display: inline; margin: 0 15px;">
                    <a style="text-decoration: none; font-size: 80%">Made By Seong-ho Kim</a>
                </li>
            </ul>
        </div>
    </footer>
</th:block>

</body>
