<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>중앙가르드 랭킹</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/ranking.css}">
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>
<th:block th:replace="~{common/header::headerLayout}"></th:block>
<h3 style="text-align: center">중앙가르드 훈련 참여 횟수</h3>
<div class="rankings-list" id="rankings-container"></div>
<!--<script src="/js/user/ranking.js"></script>-->
</body>
<th:block th:replace="~{common/footer :: footerLayout}"></th:block>
</html>