@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 폰트 적용 */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card.blurred {
    opacity: 0.4; /* 투명도 조절 (0.0은 완전 투명, 1.0은 불투명) */
}

.card:hover {
    background-color: #f8f9fa;
}

.content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.vote{
    white-space: pre-wrap; /* 줄 바꿈과 띄어쓰기를 모두 유지 */
    word-wrap: break-word; /* 긴 단어가 줄을 넘어갈 경우 줄 바꿈 */
    padding: 10px; /* 여백 추가 */
}


/* 모달 내용 스타일 */
.modal-content {
    max-width: 800px; /* 최대 너비 설정 */
    background-color: #fefefe;
    margin: 15% auto; /* 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 폭 */
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none; /* 불릿 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

/*반응형으로 만들기*/
@media (max-width: 768px) {
    .header, .footer {
        font-size: 14px; /* 작은 화면에서 글자 크기 조정 */
    }

    .content {
        padding: 10px; /* 패딩 줄이기 */
    }
}

@media (max-width: 480px) {
    .header, .footer {
        font-size: 12px; /* 더 작은 화면에서 글자 크기 조정 */
    }

    .content {
        padding: 5px; /* 패딩 더 줄이기 */
    }
}

.divider {
    max-width: 90%;
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 높이 설정 */
    background-color: #ccc; /* 색상 설정 */
    margin: 20px auto; /* 위아래 여백 설정 */
}

