@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 폰트 적용 */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box; /* 박스 크기 조정 */
}
h1{
    margin: 15px;
}

* {
    box-sizing: border-box; /* 모든 요소에 box-sizing 적용 */
}

label {
    display: block;
    margin-left: 25px;
    color: #555;
}
input[type="text"],
input[type="number"],
input[type="datetime-local"],
textarea {
    display: block; /* 요소를 블록 요소로 변환 */
    width: 90%; /* 너비를 화면의 90%로 설정 */
    margin: 10px auto; /* 상하 여백 및 좌우 중앙 정렬 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea{
    height: 200px;
}

form {
    max-width: 80%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 폼 자체도 중앙 정렬 */
    width: 100%;
}

@media (max-width: 600px) {
    form {
        margin: 10px auto;
        padding: 15px;
    }

    input[type="text"],
    input[type="number"],
    input[type="datetime-local"],
    textarea {
        font-size: 14px; /* 폰트 크기 조정 */
    }
}