<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Header</title>
        <link th:href="@{/css/header.css}" rel="stylesheet"> <!-- 외부 CSS 파일 연결 -->
    </head>
    <body>
    <header th:fragment="header">
        <div style="display: flex; align-items: center; justify-content: center;">
            <h4>CAU FENCING POLLING</h4>
            <a href="oauth2/authorization/kakao">Login</a>
        </div>
    </header>
    </body>
</th:block>
</html>
