<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerLayout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Header</title>
        <link th:href="@{/css/header.css}" rel="stylesheet"> <!-- 외부 CSS 파일 연결 -->
    </head>
    <body>
    <nav id="nav-header" class="header-container">
        <h3><a href="/" style="text-decoration: none; color: inherit;">CHUNG-ANG GARDE</a></h3>
        <button id="loginBtn" class="login-button">로그인</button>
    </nav>
    <div class="menu">
        <ul id="menu">
        </ul>
    </div>
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeBtn">&times;</span>
            <ul>
                <li>
                    <p>카카오톡으로 회원가입 / 로그인</p>
                    <a href="oauth2/authorization/kakao" style="display: inline-block;">
                        <img src="/images/kakao_login.png" alt="카카오 로그인" style="width: 40%; height: auto;" />
                    </a><br>
                </li>
                <li>
                    <a href = "/admin/login">관리자 로그인</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/header.js"></script>
    </body>
</th:block>
</html>
