<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중앙가르드 훈련 투표</title>
    <link th:href="@{/css/header.css}" rel="stylesheet"> <!-- Header 관련 CSS -->
    <link th:href="@{/css/polling.css}" rel="stylesheet"> <!-- Polling 페이지 관련 CSS -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> <!-- 파비콘 -->
</head>
<th:block th:replace="~{header::headerLayout}"></th:block>
<body>

<ul id="voteContainer">
    <div id="ongoingVote">
        <h3 style="text-align: center">나의 투표 현황</h3>
    </div>
    <div id="finishedVote">
    </div>

</ul>
<th:block th:replace="~{footer::footerLayout}"></th:block>

<script th:src="@{/js/generate-my-card.js}"></script>
<script th:src="@{/js/generate-modal.js}"></script>

</body>
</html>