<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<th:block th:replace="~{header::headerLayout}"></th:block>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/polling.css}" rel="stylesheet">  <!-- 외부 CSS 파일 연결 -->
</head>
<body>
    <ul id="voteContainer">
        <div id="ongoingVote">
            <h3 style="text-align: center">진행중인 투표</h3>
        </div>
        <hr class="divider">
        <div id="upcomingVote">
            <h3 style="text-align: center">예정된 투표</h3>
        </div>
        <hr class="divider">
        <div id="finishedVote">
            <h3 style="text-align: center">마감된 투표</h3>
        </div>
    </ul>

<script th:src="@{/js/polling/card.js}"></script>
<script th:src="@{/js/generate-card.js}"></script>
<script th:src="@{/js/generate-modal.js}"></script>

</body>

<th:block th:replace="~{footer :: footerLayout}"></th:block>
</html>