<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/polling.css}" rel="stylesheet">  <!-- 외부 CSS 파일 연결 -->
</head>
<body>
<div style="text-align: center">
    <h4>
        CAU FENCING POLLING SYSTEM
    </h4>
</div>

    <ul id="voteContainer">
        <li>
            <div class="card" onclick="toggleContent(this)">
                <h3 style="display: inline;">24학년도 2학기 24/09/22 훈련</h3>
                <p style="color: blue; display: inline;"><strong> 진행</strong></p>

                <div class="content">
                    <p>여기에 카드 내용이 들어갑니다. 클릭하여 숨기거나 표시하세요!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card" onclick="toggleContent(this)">
                <h3 style="display: inline;">24학년도 2학기 24/09/15 훈련</h3>
                <p style="color: blue; display: inline;"><strong> 진행</strong></p>
                <div class="content">
                    <p>여기에 카드 내용이 들어갑니다. 클릭하여 숨기거나 표시하세요!</p>
                    <button onclick="showAlert()">투표</button>
                </div>
            </div>
        </li>
        <li>
            <div class="card" onclick="toggleContent(this)">
                <h3 style="display: inline;">24학년도 2학기 24/09/08 훈련</h3>
                <p style="color: red; display: inline;"><strong> 마감</strong></p>
                <div class="content">
                    <p>준비물 : 실내용 운동화, 기능성 티셔츠<br>
                        시간 : 17:30 ~ 21:30 <br>
                        시작 10분전에 와서 준비 완료하기</p>
                    <label>
                        <input type="radio" name="choice" value="참석"> 참석
                    </label><br>
                    <label>
                        <input type="radio" name="choice" value="불참석"> 불참석
                    </label><br>
                    <label>
                        <input type="radio" name="choice" value="미정"> 미정
                    </label><br><br>
                    <button onclick="vote(this)">투표</button>

                    <button id="openModal">투표한 사람들</button>

                    <!-- 모달 -->


                </div>
            </div>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>투표 내용</h2>
                    <p>1. 러시아어문학과 박선영</p>
                </div>
            </div>
        </li>
    </ul>
<a href="/posting">투표생성</a>


<script th:src="@{/js/polling/card.js}"></script>
<script th:src="@{/js/generate-card.js}"></script>
<script th:src="@{/js/polling/modal.js}"></script>
<script th:src="@{/js/generate-modal.js}"></script>

</body>
</html>