<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>학생 정보 결과</title>
</head>
<body>
<h1>signup</h1>
  <div>
    <label for="studentId">학번:</label>
    <input type="text" id="studentId" name="studentId"/>
  </div>
  <div>
    <label for="name">이름:</label>
    <input type="text" id="name" name="name"/>
  </div>
  <div>
    <label for="majority">전공:</label>
    <input type="text" id="majority" name="majority"/>
  </div>
<div>
  <label>회원 유형:</label>
  <label>
    <input type="radio" name="memberType" value="신입" checked> 신입 부원
  </label>
  <label>
    <input type="radio" name="memberType" value="기존"> 기존 부원
  </label>
</div>
  <button id="signup-button">회원가입</button>
<script src="/js/signup.js"></script>
</body>
</html>