<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/favicon.ico" rel="icon">
    <title>중앙가르드 장비 대여</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/gear.css}">
</head>
<body>
<th:block th:replace="~{common/header::headerLayout}"></th:block>

<table class="rental-table">
    <thead>
    <tr>
        <th>종목</th>
        <th>번호</th>
        <th>타입</th>
        <th>대여자</th>
        <th>대여 날짜</th>
        <th>반납 날짜</th>
    </tr>
    </thead>
    <tbody id="rental-gear-list">
    </tbody>
</table>


<th:block th:replace="~{common/footer::footerLayout}"></th:block>

<script th:src="@{/js/gear/gear-history.js}"></script>
<script th:src="@{/js/common/vote-gear-tab.js}"></script>
</body>
</html>