<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="/favicon.ico" rel="icon">
  <title>중앙가르드 장비 대여</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/gear.css}">
</head>
<body>
<th:block th:replace="~{common/header::headerLayout}"></th:block>




<th:block th:replace="~{common/footer::footerLayout}"></th:block>
</body>
</html>